<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Exchange</title>
<meta name="description" content="Exchange">
<meta name="author" content="-">
<meta property="og:title" content="Exchange">
<link rel="stylesheet" href="login.css">

</head>
   
<body>
    <div class="MainBox">
        <header class="headerDiv">
            <section class="sec"><a class="aSec" href="#">Log In</a></section>
            <section class="sec"><a class="aSec" href="#">Sign In</a></section>
            <section class="sec"><a class="aSec" href="#">About this service</a></section>
        </header>
        <div class="inWindow">
            <form action="#">
                <label for="login" class="formElement">Login:</label>
                <br>
                <input id="login" class="formElement" type="text">
                <br>
                <label for="password" class="formElement">Password:</label>
                <br>
                <input id="password"  class="formElement" type="text">
                <br>
                <input type="submit" class="formElement subBt" value="Log In">
            </form>
        </div>
        <footer></footer>
    </div>

<script src="login.js"></script>
</body>
</html>